html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

header {
  height: 20%;
}

.logo-home {
  width: 300px;
}

.form-container {
  display: flex;
  height: 80%;
}

form {
  margin: auto;
  border: 2px solid rgb(71, 196, 228);
}
