.login-container {
  height: 100%;
  width: 100%;
}

.login-header {
  height: 20%;
  align-items: center;
}

.login-container-title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-right: 200px;
}

.login-logo {
  width: 100px;
}

.login-title {
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 60px;
  color: rgb(34, 112, 229);
}

.login-subtitle {
  font-size: 30px;
  margin-left: 400px;
}

.form-container {
  display: flex;
  height: 80%;
  padding: 0px 80px 50px 80px;
}

form {
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 150px;
  border: 5px solid rgb(34, 112, 229);
  border-radius: 10%;
}

.msgInvalid {
  color: red;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-style: italic;
}

.msgValid {
  color: green;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-style: italic;
}

.msgValidSidebar {
  color: rgb(255, 255, 255);
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-style: italic;
}

.btn {
  margin-top: 20px;
}
