html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
}

.title {
  padding: 80px;
  height: 20%;
}

h1 {
  font-size: 60px;
}

.form-container {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  height: 80%;
}

form {
  margin: auto;
  padding: 20px;
  border: 2px solid rgb(71, 196, 228);
}
