html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

.home {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  margin: auto;
  width: 30%;
}

.input {
  margin-bottom: 20px;
}
